In [1]:
print("hello")

hello

In [2]:
# 변수 a에 5를 넣어라.
a = 5

In [3]:
print(a)

5

In [5]:
b = 3

In [6]:
b
a

5

In [7]:
# 숫자형 자료형 : 정수형
a = 5

In [8]:
# 실수형 자료형
a = 3.14

In [9]:
a = 3
b = 5

In [10]:
print(a + b) # 더하기
print(a - b) # 빼기
print(a * b) # 곱하기
print(a / b) # 나누기

8
-2
15
0.6

In [11]:
print(a ** b) # a의 b제곱
print(7 % 3) # 7을 3으로 나누었을때 나머지
print(7 // 3) # 7을 3으로 나누었을때 몫

243
1
2

In [12]:
int(3.14) # integer

3

In [13]:
int("5")

5

In [21]:
a = input("입력 : ")
a = int(a)

입력 :  5

In [22]:
a + 5

10

In [14]:
float(3)

3.0

In [15]:
round(3.141592, 2) # 반올림

3.14

In [18]:
abs(-5) # 절대값

5

In [29]:
# 문자열 자료형
a = 'python is\' too fun'
a

"python is' too fun"

In [33]:
a = "python is \t\t\ttoo fun" # \n : 엔터키, \t : 탭키
print(a)

python is 			too fun

In [34]:
a = """python 'is"
fun"""

a

'python is\n\n\nfun'

In [35]:
# 문자열 연산
a = 'hello'
b = ' world!'

a + b

'hello world!'

In [37]:
a * 3

'hellohellohello'

In [40]:
len(b) # length

7

In [43]:
# 접근(인덱싱/슬라이싱)
# 인덱싱 : 하나씩 접근
# 슬라이싱 : 여러개에 접근
c = "python is too fun!"
c[-1] # 인덱싱

'!'

In [44]:
c[2:5] # 2번째부터 5번째 전까지

'tho'

In [46]:
c[:5]

'pytho'

In [47]:
c[2:10:2] # 2번째부터 9번째까지 2씩 증가시키면서 접근

'to s'

In [50]:
c[::-1]

'!nuf oot si nohtyp'

In [52]:
"fun" in c # 멤버연산자

True

In [54]:
name = "홍길동"
age = 40

f"나의 이름은 {name}이고, {age}살입니다." # 문자열 포매팅

'나의 이름은 홍길동이고, 40살입니다.'

In [57]:
# print, int, float : 내장함수
# 문자열 전용 함수 : 문자열.함수이름()

c.upper()

'PYTHON IS TOO FUN!'

In [58]:
c.lower()

'python is too fun!'

In [61]:
c.count("fun")

1

In [62]:
c.replace("python", 'java')

'java is too fun!'

In [63]:
c.split()

['python', 'is', 'too', 'fun!']

In [65]:
d = "python:is:too:fun"
d.split(":")

['python', 'is', 'too', 'fun']

In [66]:
# 리스트 자료형 : 데이터를 보관하는 기능
box = [1, 3, 5, 4, 2]
len(box)

5

In [67]:
box[0]

1

In [72]:
box[1] = 8 # 리스트 값 변경
box

[1, 8, 5, 4, 2]

In [74]:
del box[1] # 리스트 값 삭제

In [75]:
box

[1, 5, 4, 2]

In [79]:
box.append(7)
box

[1, 5, 4, 2, 10, 10, 7]

In [80]:
box.insert(0, 30)
box

[30, 1, 5, 4, 2, 10, 10, 7]

In [83]:
box.sort(reverse = True)
box

[30, 10, 10, 7, 5, 4, 2, 1]

In [84]:
box.remove(10) # 가장 먼저 발견한 10 하나만 삭제.
box

[30, 10, 7, 5, 4, 2, 1]

In [87]:
max(box), min(box), sum(box) # 최대값, 최소값, 합

(30, 1, 59)

In [88]:
# 튜플 자료형 : 데이터를 보관하는 기능
# 리스트랑 똑같다.
box = (1,3,5,4,2)
box

(1, 3, 5, 4, 2)

In [91]:
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [97]:
# 튜플은 한번 정하면 수정이나 삭제가 불가능.
a = 1, 2

In [98]:
a

(1, 2)

In [99]:
a = [5]
a

[5]

In [101]:
a = (5,)
a

(5,)

In [103]:
box.count(2)

1

In [104]:
box.index(5)

2

In [106]:
box = list(box)
box

[1, 3, 5, 4, 2]

In [107]:
box = tuple(box)
box

(1, 3, 5, 4, 2)

In [109]:
# 딕셔너리 자료형 : 데이터를 보관하는 기능
# Key : Value // 딕셔너리 무조건 Key값 기준
dic = {"이름" : "홍길동", 
       "나이" : 40,
       "성별" : "남자"}

In [113]:
dic["이름"]

'홍길동'

In [114]:
"홍길동" in dic

False

In [116]:
dic['이상형'] = "장원영" # 딕셔너리 값 추가
dic

{'이름': '홍길동', '나이': 40, '성별': '남자', '이상형': '장원영'}

In [117]:
# 중복된 Key값은 존재X
dic['이름'] = '강동원'
dic

{'이름': '강동원', '나이': 40, '성별': '남자', '이상형': '장원영'}

In [118]:
del dic['이상형']
dic

{'이름': '강동원', '나이': 40, '성별': '남자'}

In [119]:
dic.keys()

dict_keys(['이름', '나이', '성별'])

In [120]:
dic.values()

dict_values(['강동원', 40, '남자'])

In [121]:
dic.items()

dict_items([('이름', '강동원'), ('나이', 40), ('성별', '남자')])

In [122]:
# 집합 : 데이터를 보관하는 기능
A = {1,2,3}
B = {3,4,5}
A & B # 교집합

{3}

In [123]:
A | B # 합집합

{1, 2, 3, 4, 5}

In [124]:
A - B # A와 B의 차집합

{1, 2}

In [125]:
B - A

{4, 5}

In [129]:
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다.
A = {1,2,3,1,1,1}
A

{1, 2, 3}

In [130]:
box = [1,2,3,1,2,3,1,2,3,4,5,6]
set(box)

{1, 2, 3, 4, 5, 6}

In [132]:
A.add(5) # 집합 값 추가
A

{1, 2, 3, 5}

In [133]:
A.update([3,4,5,6]) # 여러개 추가
A

{1, 2, 3, 4, 5, 6}

In [134]:
A.remove(1)
A

{2, 3, 4, 5, 6}

In [143]:
# 불 자료형 : 참과 거짓
# 비어있으면 거짓
bool([3])

True

In [146]:
# == : 같다.
# != : 다르다.

bool(5) == True

True

In [147]:
# 제어문 (조건문, 반복문)
money = True
if money == True:
    print("Taxi")

Taxi

In [151]:
money = 2000
card = True
if money >= 3000 and card == True:
    print('Taxi')
else:
    print('Walk')

Walk

In [153]:
pocket = ['paper', 'phone']
if "money" in pocket:
    print('Taxi')
else:
    if card == True:
        print('Taxi')
    else:
        print('Walk')

Taxi

In [154]:
pocket = ['paper', 'phone']
if "money" in pocket:
    print('Taxi')
elif card == True:
    print('Taxi')
else:
    print('Walk')

Taxi

In [155]:
score = 75
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

In [157]:
# 퀴즈 : score가 80점 이상이면 message변수에 "합격" 을 넣고
# 아니면 "불합격"을 넣어주세요.

score = 65
if score >= 80:
    message = "합격"
else:
    message = "불합격"

message

'불합격'

In [160]:
score = 35
message = "합격" if score >= 80 else "불합격"
message

'불합격'

In [162]:
# 반복문
# while문 : 조건이 참이면 반복 (몇번 반복해야할지 모를때)
# for문 : 요청한 만큼만 순서대로 반복 (알때)

hit = 0
while hit < 10:
    hit = hit + 1
    print(f"나무를 {hit}번 찍었습니다.")
    if hit == 10:
        print("나무가 쓰러졌습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 쓰러졌습니다.

In [165]:
coffee = 10
while True:
    coffee = coffee - 1
    print(f"커피가 {coffee}잔 남았습니다.")
    if coffee == 0:
        print("매진되었습니다.")
        break

커피가 9잔 남았습니다.
커피가 8잔 남았습니다.
커피가 7잔 남았습니다.
커피가 6잔 남았습니다.
커피가 5잔 남았습니다.
커피가 4잔 남았습니다.
커피가 3잔 남았습니다.
커피가 2잔 남았습니다.
커피가 1잔 남았습니다.
커피가 0잔 남았습니다.
매진되었습니다.

In [166]:
a = 0
while a < 10: # 이동
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

In [168]:
# 퀴즈 : while문을 사용해서 1~1000까지 3의 배수의 합
# 정답 : 166833

a = 0
total = 0
while a < 1000:
    a += 1
    if a % 3 == 0:
        total += a
    else:
        continue
total

166833

In [170]:
# for문
t = "python is too fun"

# for 변수이름 in 반복하고싶은것:

# t 안에 있는 것들을 순서대로 x 변수에 넣어라.
for x in 'python':
    print(x)

p
y
t
h
o
n

In [171]:
box = ['홍길동', '장원영', '강동원']
for name in box:
    print(name)

홍길동
장원영
강동원

In [172]:
dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 40}

for i in dic:
    print(i)

이름
성별
나이

In [175]:
for i, j in dic.items():
    print(j)

홍길동
남자
40

In [178]:
# 1~100까지 더하고 싶을때
for n in range(2, 10, 3):
    print(n)

2
5
8

In [179]:
total = 0
for n in range(1, 101):
    total += n
total

5050

In [180]:
for n1 in range(2, 10):
    for n2 in range(1, 10):
        print(f"{n1} X {n2} = {n1 * n2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [184]:
# 로또 1번~45번 6개의 번호를 뽑는 것
count = 0
for n1 in range(1, 46):
    for n2 in range(n1+1, 46):
        for n3 in range(n2+1, 46):
            for n4 in range(n3+1, 46):
                for n5 in range(n4+1, 46):
                    for n6 in range(n5+1, 46):
                        count += 1

In [185]:
1 / count * 100

1.2277380399898834e-05

In [186]:
# 함수 만들기
# def 함수이름(함수에 들어갈 재료):

# 퀴즈 : 직각삼각형의 밑변의 길이와 높이의 길이를 넣어주면
# 빗변의 길이를 반환하는 함수를 만들어보세요.

def add(num1, num2):
    return num1 + num2

In [187]:
z = add(2, 8)
z

10

In [188]:
def func(x, y):
    return (x ** 2 + y ** 2) ** (1/2)

In [189]:
func(3, 4)

5.0

In [190]:
def say():
    return 'hello'

In [191]:
z = say()
z

'hello'

In [192]:
def add(num1, num2):
    print(num1 + num2)

In [193]:
z = add(2, 7)

9

In [196]:
z

In [197]:
def intro(name, age, sex = 5):
    print(f"나의 이름은 {name}이고, {age}살입니다.")
    if sex == 5:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [198]:
intro("홍길동", 40)

나의 이름은 홍길동이고, 40살입니다.
남자입니다.

In [199]:
intro("장원영", 20, 3)

나의 이름은 장원영이고, 20살입니다.
여자입니다.

In [202]:
# n! 을 구하는 함수를 만들어보세요.
def fac(n):
    a = 1
    for i in range(1, n+1):
        a *= i
    return a

In [203]:
# 내가 나를 부르는 함수 : 재귀함수
def fac(n):
    if n == 1:
        return 1
    else:
        return n * fac(n-1)

In [206]:
# 함수 안에서 사용되는 변수는 함수 안에서만 영향을 미칩니다.
def test():
    global a
    a = 5 # 지역변수

In [207]:
a = 0 # 전역변수
test()
print(a)

5